<style>
    .parent {
        display: grid;
        /* grid-template-columns: repeat(3, 75px) 5px repeat(3, 75px) 5px repeat(3, 75px);
        grid-template-rows: repeat(3, 75px) 5px repeat(3, 75px) 5px repeat(3, 75px); */
        grid-template-columns: repeat(9, 75px);
        grid-template-rows: repeat(9, 75px);
        /* background: blue; */
    }
    
    .item {
        border: 1px solid black;
        overflow: hidden;
    }
    
    .sepV {
        background-color: blue;
    }
    
    .sepH {
        background-color: blue;
    }
    
    .tile-grid {
        display: grid;
        grid-template-columns: repeat(9, 73px);
        grid-gap: 10px;
        /* background: brown; */
    }
    
    .basic-tile {
        height: 75px;
        width: 75px;
        border: 1px solid black;
    }
    
    img {
        width: 73px;
    }
    
    .bu {
        border-bottom: 5px solid blue
    }
    
    .br {
        border-right: 5px solid blue
    }
    
    [type="1"] {
        background-image: url("assets/aquars/chika.png");
        background-size: 75px;
    }
    
    [type="2"] {
        background-image: url("assets/aquars/dia.png");
        background-size: 75px;
    }
    
    [type="3"] {
        background-image: url("assets/aquars/hanamaru.png");
        background-size: 75px;
    }
    
    [type="4"] {
        background-image: url("assets/aquars/kanan.png");
        background-size: 75px;
    }
    
    [type="5"] {
        background-image: url("assets/aquars/mari.png");
        background-size: 75px;
    }
    
    [type="6"] {
        background-image: url("assets/aquars/riko.png");
        background-size: 75px;
    }
    
    [type="7"] {
        background-image: url("assets/aquars/ruby.png");
        background-size: 75px;
    }
    
    [type="8"] {
        background-image: url("assets/aquars/yoshiko.png");
        background-size: 75px;
    }
    
    [type="9"] {
        background-image: url("assets/aquars/you.png");
        background-size: 75px;
    }
    
    .done {
        filter: grayscale(1);
    }
    
    .item:not(.active):empty {
        background-color: aqua;
    }
    /* .item:not(.active)>.basic-tile {
        background-color: unset;
    } */
    /* .active {
        background: yellow;
    } */
    /*     
    [square="1"] {
        background-color: blue;
    }
    
    [square="2"] {
        background-color: red;
    }
    
    [square="3"] {
        background-color: yellow;
    }
    
    [square="4"] {
        background-color: green;
    }
    
    [square="5"] {
        background-color: grey;
    }
    
    [square="6"] {
        background-color: purple;
    }
    
    [square="7"] {
        background-color: brown;
    }
    
    [square="8"] {
        background-color: aqua;
    }
    
    [square="9"] {
        background-color: darkorange;
    } */
</style>

<div class="tile-grid" id="tile-grid" dragula="Tiles">
    <div type="1" class="basic-tile type1 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="2" class="basic-tile type2 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="3" class="basic-tile type3 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="4" class="basic-tile type4 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="5" class="basic-tile type5 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="6" class="basic-tile type6 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="7" class="basic-tile type7 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="8" class="basic-tile type8 wallet" (click)="clickHeaderTile($event)"></div>
    <div type="9" class="basic-tile type9 wallet" (click)="clickHeaderTile($event)"></div>
</div>
<!-- [attr.row]="j+1" 
[attr.column]="i+1" 
[attr.square]="Math.floor((i)/3)+Math.floor((j)/3)*3+1" -->
<div class="parent" id="soduko-grid" style="padding-top: 20px;">
    <ng-template ngFor let-item [ngForOf]="range" let-j="index">
        <ng-template ngFor let-item [ngForOf]="range" let-i="index">
            <div class="item" (click)="clickTile($event)" [ngClass]="{'bu':(j==2 || j==5),'br':(i==2 || i==5)}" [dragula]="allTile.indexOf((''+(j+1)+(i+1)))>=0 ? undefined:'Tiles'" [attr.row]="j+1" [attr.column]="i+1" [attr.square]="Math.floor((i)/3)+Math.floor((j)/3)*3+1">
                <ng-template [ngIf]="tile1.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="1" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile2.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="2" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile3.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="3" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile4.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="4" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile5.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="5" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile6.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="6" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile7.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="7" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile8.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="8" class="basic-tile"></div>
                </ng-template>
                <ng-template [ngIf]="tile9.indexOf((''+(j+1)+(i+1)))>=0">
                    <div type="9" class="basic-tile"></div>
                </ng-template>
            </div>
        </ng-template>
    </ng-template>
</div>
<script>
    dragula([document.querySelector('#tile-grid'), document.querySelector('#soduko-grid')]);
</script>
<router-outlet>

</router-outlet>