/* You can add global styles to this file, and also import other style files */


/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}


/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}


/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.basic-tile {
    height: 75px;
    width: 75px;
    border: 1px solid black;
}

[type] {
    background-size: 75px;
}

[type="1"].aqours {
    background-image: url("/assets/aqours/chika.png");
}

[type="2"].aqours {
    background-image: url("/assets/aqours/riko.png");
}

[type="3"].aqours {
    background-image: url("/assets/aqours/kanan.png");
}

[type="4"].aqours {
    background-image: url("/assets/aqours/dia.png");
}

[type="5"].aqours {
    background-image: url("/assets/aqours/you.png");
}

[type="6"].aqours {
    background-image: url("/assets/aqours/yoshiko.png");
}

[type="7"].aqours {
    background-image: url("/assets/aqours/hanamaru.png");
}

[type="8"].aqours {
    background-image: url("/assets/aqours/mari.png");
}

[type="9"].aqours {
    background-image: url("/assets/aqours/ruby.png");
}

[type="1"].muse {
    background-image: url("/assets/muse/honoka.png");
}

[type="2"].muse {
    background-image: url("/assets/muse/kotori.png");
}

[type="3"].muse {
    background-image: url("/assets/muse/umi.png");
}

[type="4"].muse {
    background-image: url("/assets/muse/hanayo.png");
}

[type="5"].muse {
    background-image: url("/assets/muse/rin.png");
}

[type="6"].muse {
    background-image: url("/assets/muse/maki.png");
}

[type="7"].muse {
    background-image: url("/assets/muse/nico.png");
}

[type="8"].muse {
    background-image: url("/assets/muse/eli.png");
}

[type="9"].muse {
    background-image: url("/assets/muse/nozomi.png");
}

[type="1"].nijigasaki {
    background-image: url("/assets/niji/ayumu.png");
}

[type="2"].nijigasaki {
    background-image: url("/assets/niji/kasumi.png");
}

[type="3"].nijigasaki {
    background-image: url("/assets/niji/shizuku.png");
}

[type="4"].nijigasaki {
    background-image: url("/assets/niji/karin.png");
}

[type="5"].nijigasaki {
    background-image: url("/assets/niji/ai.png");
}

[type="6"].nijigasaki {
    background-image: url("/assets/niji/kanata.png");
}

[type="7"].nijigasaki {
    background-image: url("/assets/niji/setsuna.png");
}

[type="8"].nijigasaki {
    background-image: url("/assets/niji/emma.png");
}

[type="9"].nijigasaki {
    background-image: url("/assets/niji/rina.png");
}

[type="1"].normal {
    background-image: url("/assets/normal/1.png");
}

[type="2"].normal {
    background-image: url("/assets/normal/2.png");
}

[type="3"].normal {
    background-image: url("/assets/normal/3.png");
}

[type="4"].normal {
    background-image: url("/assets/normal/4.png");
}

[type="5"].normal {
    background-image: url("/assets/normal/5.png");
}

[type="6"].normal {
    background-image: url("/assets/normal/6.png");
}

[type="7"].normal {
    background-image: url("/assets/normal/7.png");
}

[type="8"].normal {
    background-image: url("/assets/normal/8.png");
}

[type="9"].normal {
    background-image: url("/assets/normal/9.png");
}

.Ayumu {
    background-color: #EE879D
}

.Kasumi {
    background-color: #FFE41C
}

.Shizuku {
    background-color: #73C9F3
}

.Karin {
    background-color: #565EA9
}

.Ai {
    background-color: #F18F3D
}

.Kanata {
    background-color: #B44E8F
}

.Setsuna {
    background-color: #E94C53
}

.Emma {
    background-color: #8EC225
}

.Rina {
    background-color: #9AA3AA
}

.Honoka {
    background-color: #E2732D
}

.Kotori {
    background-color: #8C9395
}

.Umi {
    background-color: #1660A5
}

.Hanayo {
    background-color: #54AB48
}

.Rin {
    background-color: #F1C51F
}

.Maki {
    background-color: #CC3554
}

.Nico {
    background-color: #D54E8D
}

.Eli {
    background-color: #36B3DD
}

.Nozomi {
    background-color: #744791
}

.Chika {
    background-color: #F0A20B
}

.Riko {
    background-color: #E9A9E8
}

.Kanan {
    background-color: #13E8AE
}

.Dia {
    background-color: #F23B4C
}

.You {
    background-color: #49B9F9
}

.Yoshiko {
    background-color: #898989
}

.Hanamaru {
    background-color: #E6D617
}

.Mari {
    background-color: #AE58EB
}

.Ruby {
    background-color: #FB75E4
}

.n1 {
    background-color: yellow
}

.n2 {
    background-color: yellow
}

.n3 {
    background-color: yellow
}

.n4 {
    background-color: yellow
}

.n5 {
    background-color: yellow
}

.n6 {
    background-color: yellow
}

.n7 {
    background-color: yellow
}

.n8 {
    background-color: yellow
}

.n9 {
    background-color: yellow
}

.html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}